header {
  margin: 20;
  margin-top: 20;
  margin-left: 20;
  margin-right: 20;
  margin-bottom: 20;
  height: 300;
  width: 400;
}

body {
  background-color: #282D40;
  color: #FFFFFF;
  line-height: 1.4;
}

footer {
  background-color: #D1D1D1;
  align-content: center;
}

table {
  border: 1px #FFFFFF;
}
