header {
  text-align: center;
  padding: 5px;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  padding-top: 100px;
}

.right {
  flex: 1;
  padding: 20px;
}

.right p {
  margin-bottom: 15px;
}

body {
  background-color: #222222;
  color: #FFFFFF;
  line-height: 1.4;
}

footer {
  text-align: center;
}

table {
  border: 1px #FFFFFF;
}

#pic-paragraph {
  width: 726px;
  height: 1200px;
  font-size: 10px;
  line-height: 10px;
  background: url(images/cal2.jpeg);
  background-attachment: scroll;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-align: left;
}
